PORT=3000
ENABLE_MOCK_DATA=true
ARES_ENABLED=true
DATAOVOZIDLECH_API_KEY=
UNIQA_LOOKUP_ENABLED=true
UNIQA_PHONE=+420 700 700 700
UNIQA_BROWSER_PATH=
UNIQA_CACHE_TTL_MS=900000
OPEN_DATA_CACHE_TTL_MS=21600000
TRANSPORT_CUBE_LOOKUP_URL=
TRANSPORT_CUBE_METHOD=GET
TRANSPORT_CUBE_IDENTIFIER_PARAM=identifier
TRANSPORT_CUBE_IDENTIFIER_TYPE_PARAM=identifierType
TRANSPORT_CUBE_IDENTIFIER_TYPE_PLATE=spz
TRANSPORT_CUBE_IDENTIFIER_TYPE_VIN=vin
TRANSPORT_CUBE_API_KEY=
TRANSPORT_CUBE_API_KEY_HEADER=X-API-Key
TRANSPORT_CUBE_TIMEOUT_MS=15000
